.score {
  margin: 5px;
  text-align: center;
  width: 100%;
  color: #00bbff;
  letter-spacing: 2px;
  padding-top: 10px;
}

.message {
  text-align: center;
  width: 100%;
  color: #ff0000;
}
.cards {
  width: 100%;
}
